html
  head
    title #{title}
    link(rel='stylesheet', href='/lib/css/bootstrap.css')
    link(rel='stylesheet', href='/assets/index.css')
    script(src='/lib/js/jquery-3.3.1.min.js')
    script(src='/lib/js/bootstrap.js')

body  
 block content
 block script